.btn {
  cursor: pointer;

  width: 36px;
  height: 36px;
  border: none;
  border-radius: 2px;

  opacity: 0.8;
  background-color: var(--dark-500);
}

.content {
  pointer-events: auto;

  z-index: 888;

  height: fit-content;
  padding: 10px 12px;
  border: 1px solid var(--primary-500);
  border-radius: 2px;

  opacity: 0.8;
  background-color: var(--dark-500);
}
