.container {
  display: flex;
  gap: 24px;
  align-items: center;
}

.paginationContainer {
  display: flex;
  gap: 12px;
  padding: 0;
  list-style: none;
}

.arrowIcon {
  width: 16px;
  height: 16px;
}

.paginationItem {
  display: flex;
  align-items: center;
  color: var(--light-100);
  text-align: center;

  .button.buttonArrow {
    display: flex;
    padding: 0;
  }

  .button {
    padding: 0 8px;

    font-size: 14px;
    font-weight: 400;
    line-height: 171.5%;
    color: var(--light-100);

    &.selected {
      color: var(--dark-900);
      background-color: var(--light-100);
    }

    &:disabled {
      pointer-events: none;

      .arrowIcon {
        color: var(--dark-100);
      }
    }

    &:focus-visible:not(.selected, .disabled) {
      border-radius: 2px;
      color: inherit;
      outline: 2px solid var(--primary-700);
    }

    @media (hover: hover) {
      &:not(.selected, .disabled, .dots):hover {
        color: inherit;
        background: var(--dark-500);
      }
    }
  }
}

.dots {
  cursor: default;
}

.selectContainer {
  display: flex;
  align-items: center;
}

.select {
  width: auto;
  margin-right: 7px;
  margin-left: 4px;
}
