.postsGrid {
  display: grid;
  grid-auto-flow: row dense;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, 234px);
  justify-content: space-between;

  height: fit-content;
}

.image {
  width: 100%;
  text-align: center;
}

.notFound {
  width: 100%;
  height: 100%;
  border: 1px solid #646060;
  border-radius: 10px;
}
