.container {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;

  padding: 7px 0;
}

.label {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--light-100);
  text-align: left;
  text-transform: capitalize;
}

.radiobtn {
  all: unset;

  cursor: pointer;

  position: relative;

  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid var(--light-100);
  border-radius: 50px;

  background: transparent;

  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  &::before {
    content: '';

    position: absolute;
    top: 3.5px;
    left: 3.5px;

    width: 9px;
    height: 9px;
    border-radius: 50%;

    opacity: 0;
    background-color: var(--light-100);

    transition: opacity 0.3s ease;
  }

  &:active:not(:disabled)::after {
    background-color: var(--dark-100);
  }

  &:focus:not(:disabled)::after {
    background-color: var(--dark-500);
  }

  &:disabled {
    border-color: var(--light-900);
  }

  &:checked {
    border: 2px solid var(--light-100);
  }

  &:disabled:checked {
    border: 2px solid var(--light-900);
    background: transparent;
  }

  &:disabled::before {
    background-color: var(--light-900);
  }

  &:checked::before {
    opacity: 1;
  }

  @media (hover: hover) {
    &:hover:not(:disabled)::after {
      background-color: var(--dark-300);
    }
  }
}

.radiobtn:disabled + .label {
  color: var(--light-900);
}
